h1 {
  font-size: 60px;
  text-align: center;
  background: -webkit-linear-gradient(#0c0c0c,#e72907e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.calculatorbg {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(red, rgba(255, 255, 0, 0.824));
}
.calculator {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.calculator input[type="text"] {
  width: calc(100% - 10px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.keypad button {
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.keypad button:hover {
  background-color: #0a0909;
  color: white;
}

.keypad button:active {
  background-color: #e0e0e0;
}

.keypad button:last-child {
  grid-column: span 2;
}

.keypad button:focus {
  outline: none;
}

